html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Changa', sans-serif;
    background-image: url("../images/background-img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 32px;
    color: white;
    position: relative;
    top: 65px;
    margin-left: auto;
    margin-right: auto;
    max-width: 232px;
}

.hidden {
    display: none;
}

.canvas-container {
    width: 550px;
    height: 650px;
    margin: 0 auto;
}

#play-button {
    text-align: center;
    position: relative;
    left: 35px;
    top: -200px;
    width: 80px;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: blue;
    color: white;
    font-family: 'Changa', sans-serif;
    font-size: 14px;
    z-index: 10;
}

#play-button:hover {
    background: red;
    cursor: pointer;
}

#restart {
    text-align: center;
    position: relative;
    left: 30px;
    top: -196px;
    width: 90px;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: blue;
    color: white;
    font-family: 'Changa', sans-serif;
    font-size: 14px;
    z-index: 10;
}

#restart:hover {
    background: red;
    cursor: pointer;
}

audio {
    width: 300px;
    position: relative;
    top: 10px;
    left: 130px;
}

.queue-container {
    padding: 6px 6px;
    position: relative;
    top: -435px;
    left: 420px;
    border: 3px dashed rgb(138, 13, 255);
    width: 90px;
    height: 245px;
    color: white;
    font-size: 16px;
}

.controls-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 20;
}

.controls-modal {
    position: absolute;
    width: 700px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.controls-modal h1 {
    position: relative;
    color: white;
}

.arrows {
    position: relative;
    margin: 0 auto;
    background-color: blueviolet;
    width: 700px;
    height: 300px;
}

.key-images {
    position: relative;
    top: 170px;
    left: -50px;
    width: 80px;
}

.up-key {
    position: relative;
    top: 95px;
    left: 117px;
    width: 80px;
}

.p-key {
    position: relative;
    top: 90px;
    left: 125px;
    width: 80px;
}

.spacebar {
    position: relative;
    top: 170px;
    left: -50px;
    height: 80px;
    width: 270px;
}