html {
    height: 100%;
}

body {
    font-family: 'Changa', sans-serif;
    background-image: url("../images/background-img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 32px;
    color: white;
    position: relative;
    top: 65px;
    margin-left: auto;
    margin-right: auto;
    max-width: 232px;
}

.canvas-container {
    width: 550px;
    height: 650px;
    margin: 0 auto;
}

#play-button {
    text-align: center;
    position: relative;
    left: 35px;
    top: -200px;
    width: 80px;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: blue;
    color: white;
    font-family: 'Changa', sans-serif;
    font-size: 14px;
    z-index: 10;
}

#play-button:hover {
    background: red;
    cursor: pointer;
}

#restart {
    text-align: center;
    position: relative;
    left: 30px;
    top: -196px;
    width: 90px;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: blue;
    color: white;
    font-family: 'Changa', sans-serif;
    font-size: 14px;
    z-index: 10;
}

#restart:hover {
    background: red;
    cursor: pointer;
}

audio {
    width: 300px;
    position: relative;
    top: 10px;
    left: 130px;
}

.queue-container {
    padding: 6px 6px;
    position: relative;
    top: -435px;
    left: 415px;
    border: 3px dotted blueviolet;
    width: 95px;
    height: 245px;
    color: white;
}